<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>详情</title>
	<!-- <link rel="stylesheet" href="../css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/page/detail.css">
    <link rel="stylesheet" type="text/css" href="../css/lib/jquery-confirm.min.css"> -->
</head>
<body>
	<!-- 头部[ -->
    <div class="header">
        <div class="w hd-main cfx">
            <div class="hd-main-lt">
                <a href="#">关于我们</a>
                <a href="#" class="icon weibo"></a>
                <a href="#" class="icon weixin"></a>
            </div>
            <div class="hd-main-rt">
                <span>您好,欢迎参与证联公益</span>
                <a href="#">登录</a>
                <a href="#">注册</a>
            </div>
        </div>
    </div><!-- ]头部 -->

    <!-- 导航[ -->
    <div class="nav">
        <div class="w nav-main">
            <div class="logo">
                <h1><a href="#"></a></h1>
            </div>
            <div class="nav-bar">
                <ul>
                    <li><a href="#" class="cur">首页</a></li>
                    <li><a href="#">公益活动</a></li>
                    <li><a href="#">物资求助</a></li>
                    <li><a href="#">爱心资源</a></li>
                    <li><a href="#">公益咨询</a></li>
                </ul>
            </div>
        </div>
    </div><!-- ]导航 -->

    <!-- 显示位置 -->
    <div class="position">
        <div class="w position-main">您所在的位置 : 首页  >  公益活动  >  <i>舆情管理师培训班招生简章</i></div>
    </div>

    <!-- 详情的主内容[ -->
    <div class="w main">
        <div class="main-top cfx">
            <div class="main-top-img">
                <img src="../images/test.jpg" alt="">
                <div class="main-top-state end"></div>
            </div>
            <div class="main-top-detail">
                <h3 class="title"><a>舆情管理师培训班招生简章</a><i class="offline">线下活动</i></h3>
                <div class="type cfx">
                    <label>活动标签:</label>
                    <div class="lab-list">
                        <span>社区服务</span>
                        <span>支教助学</span>
                        <span>助残助困</span>
                    </div>
                </div>
                <div class="date cfx">
                    <label>活动时间:</label>
                    <span>2016-09-17（星期六） 17:08   至   2016-09-21（星期三） 17:08</span>
                </div>
                <p class="address"><label>活动地点:</label><span>北京市-东城区-东直门</span></p>
                <p class="form"><label>发起方:</label><span>甘肃省宜兰救援队</span><i class="icon-v psl-v"></i></p>

                <p class="join-num">已经<i>10</i>人加入</p>
                <div class="btns">
                    <a href="#" class="btn btn-join">立即报名</a>
                    <a href="#" class="btn state1">已报名该活动,去管理</a>
                    <a href="#" class="btn state2">我发布的活动,去管理</a>
                    <a href="#" class="btn state3">活动已结束</a>
                    <a href="#" class="btn-share">分享</a>
                    <a href="#" class="btn-complaint">投诉</a>
                </div>
            </div>
        </div>

        <div class="main-cont cfx">
            <div class="main-cont-lt">
                <div class="tabs">
                    <a class="cur" href="#active-detail">活动详情</a>
                    <a href="#active-picture">活动图片</a>
                    <a href="#active-discuss">活动讨论区</a>
                </div>
                <div class="tabs-main">
                    <!-- 活动详情 -->
                    <div class="tabs-item active-detail" id="active-detail">
                         通过此次活动，更深入的了解留守孩子的需要，他们的学习、生活和身心健康的发展营造良好的氛围，让全社会的儿童来关心和爱护留守儿童，激励他们自强不息，学会自学、自理、自立、自强做生活的强者，享受生活的美好。
                        我们希望通过这样的公益活动，能够感染更多的爱心人士，走上公益之路，为社会多多播洒爱的阳光，温暖人间，传承中华民族尊老爱幼的传统美德。
                        一、活动倡议
                        现在我们向社会广大爱心人士，公开募捐现金和物资(参见倡议书)

                        您的每一份爱心，都将帮助更多的孩子离故事更近，离孤独更远。这个暑假，让留守儿童不再孤单！
                        二、活动实施
                        招募志愿者10名，于7月14日前将爱心物资送到水草坝小学校

                        康县义工联合会
                        二〇一六年六月二十四日
                    </div>
                    <!-- 活动图片 -->
                    <div class="tabs-item active-picture" id="active-picture">
                        <div class="sub-title">活动图片</div>
                        <div class="main-imgs-list">
                            <ul class="cfx">
                                <li><img src="../images/test.jpg" alt=""></li>
                                <li><img src="../images/banner1.jpg" alt=""></li>
                                <li><img src="../images/banner2.jpg" alt=""></li>
                                <li><img src="../images/banner3.jpg" alt=""></li>
                                <li><img src="../images/test.jpg" alt=""></li>
                                <li><img src="../images/test.jpg" alt=""></li>
                            </ul>
                            <div class="btn-prev"></div>
                            <div class="btn-next"></div>
                        </div>
                        <div class="none">暂无图片</div>
                    </div>
                    <!-- 活动讨论区 -->
                    <div class="tabs-item active-discuss" id="active-discuss">
                        <div class="sub-title">活动讨论区</div>
                        <div class="comment">
                            <div class="comment-area cfx">
                                <img src="../images/test.jpg" class="user-photo">
                                <div class="err-msg"></div>
                                <div class="comment-form">
                                    <textarea name="comment-cont" class="comment-cont" id="discuss-cont" placeholder="文明上网,理性发言..."></textarea>
                                    <div class="options"><a href="javascript:void(0);" class="btn-commit" data-url="../ajax/comment.html">发布</a></div>
                                </div>
                            </div>

                            <div class="comment-list" data-url="../ajax/comment_list.json">
                                <ul></ul>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                                <p>1</p>
                            </div>
                            <div class="pagination"></div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="main-cont-rt">
                <div class="block org-info">
                    <div class="top-info">
                        <img src="../images/test.jpg" alt="">
                        <h3><a href="#" class="org-name">甘肃省宜兰救援队</a><i class="icon-v org-v"></i></h3>
                    </div>
                    <p class="org-addr"><i></i>北京市-东城区-东直门</p>
                    <p class="org-type"><i></i>组织类型-企业</p>
                    <p class="org-btns">
                        <a href="#" class="btn-prvmsg"><i></i>发私信</a>
                        <a href="#" class="btn-gohome"><i></i>进入主页</a>
                    </p>
                </div>
                <div class="block">
                    <h3 class="block-title">活动地图 <a href="#">(查看大图)</a></h3>
                    <div class="block-cont">
                        <div id="active-map"></div>
                    </div>

                </div>
                <div class="block">
                    <h3 class="block-title">活动成员 <i>(已有3人参加)</i></h3>
                    <div class="remember">
                        <img src="../images/test.jpg" alt="">
                        <img src="../images/test.jpg" alt="">
                        <img src="../images/test.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div><!-- ]详情的主内容 -->
    <div class="footer">CopyRight©2012 - 2016  gy.com All Right Reserved     主办单位：证联公益    京ICP备xxxxxxxx号</div>
    <!-- 模板：评论列表集合 -->
    <script type="text/template" id="tpl_comments">
        {{each data}}
            {{include 'tpl_comments_item' $value}}
        {{/each}}
    </script>

    <!-- 模板：评论项 -->
    <script type="text/template" id="tpl_comments_item">
        <li>
            <img src="{{src}}" class="user-photo">
            <div class="comment-info">
                <h3 class="user-name"><a href="#">{{name}}</a> <span>{{date}}</span></h3>
                <p class="comment-text">{{content}}</p>
            </div>
        </li>
    </script>


    <!-- 模板：报名时,发起方要求留手机号 -->
    <script type="text/html" id="tpl_entry1">
        <form class="entry-form" id="entry-form">
            <p class="entry-tips">为了能够及时联系到您,请填写您当前正在使用的手机号。</p>
            <p class="entry-item">
                <input type="text" name="username" placeholder="姓名">
            </p>
            <p class="entry-item">
                <input type="text" name="phone" placeholder="手机号">
            </p>
            <p class="entry-btns"><button type="submit" class="btn-ok">确定</button></p>
        </form>
    </script>
    <!-- 模板：报名时,发起方不要求留手机号 -->
    <script type="text/html" id="tpl_entry2">
        <p class="entry-tips">确定要报名该活动吗？发起方在审核您的活动申请后,会联系您并告知具体的活动详情。</p>
        <p class="entry-btns"><button class="btn-ok">确定</button></p>
    </script>
    <!-- 模板：报名时,组织用户无法报名 -->
    <script type="text/html" id="tpl_entry3">
        <p class="entry-tips">认证为组织用户无法报名活动,请以个人名义报名参加。</p>
        <p class="entry-btns"><button class="btn-ok">确定</button></p>
    </script>
    <!-- <script type="text/javascript" src="http://static.gy.com/public/js/jquery.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../js/lib/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="../js/component/column.slider.js"></script>
    <script type="text/javascript" src="../js/lib/artTemplate.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.pagination.min.js"></script>
    <script type="text/javascript" src="../js/component/discuss.js"></script>
    <script>
        $(function(){
            /* 切换图片 */
            $('.main-imgs-list').ColumnSlider();
    
            /* 讨论模块 */
            $('.btn-commit').discuss({
                err:'.err-msg',
                ttaa: '#discuss-cont',
                sub_url:'../ajax/comment.html',
                get_url:'http://www.local.gy.com/t/active/ajax_discuss/id/739.html'
            });
    
            /* 查看活动图片的大图 */
            $('.main-imgs-list').on('click','img',function(){
                var _this = $(this);
                $.dialog({
                    title: '查看大图',
                    content: '<img id="max_img" src="'+$(this).attr('src')+'">',
                    onOpenBefore: function () {
                        var max_img = $("#max_img");
                        initWinCss(max_img.width(),max_img.height());
                    }
                });
            });
            /* 初始化弹出层的位置 */
            function initWinCss(w,h){
                var pop_win = $('.jconfirm-scrollpane');
                    pop_win.find('.container').css({
                        position:'relative',
                        width: w,
                        height: h,
                        left: '50%',
                        marginLeft:-(w/2)
                    });
            }
    
            /* tab选项卡 */
            var tabs = {
                init: function () {
                    var self = this;
                    var detail = $("#active-detail").outerHeight();
                    var picture = $("#active-picture").outerHeight();
                    var discuss = $("#active-discuss").outerHeight();
    
                    detail = detail == null?0:detail;
                    picture = picture == null?0:picture;
                    discuss = discuss == null?0:discuss;
    
                    $('.tabs').on('click','a',function(){
                        $(this).addClass('cur').siblings('a').removeClass('cur');
                    });
    
                    $(window).on('scroll',function(){
                        var _scrollTop = $(window).scrollTop(),_tabs = $('.tabs'),_deft = 500;
                        if(_scrollTop > _deft){
                            _tabs.addClass('Fixed');
                            if(_scrollTop > _deft + detail){
                                self.addCur(_tabs,1);
                            }else{
                                self.addCur(_tabs,0);
                            }
                            if(_scrollTop > _deft + detail + picture){
                                self.addCur(_tabs,2);
                            }
                        }else{
                            _tabs.removeClass('Fixed');
                            self.addCur(_tabs,0);
                        }
                    });
                },
                addCur: function (obj,ind) {
                    obj.find('a').eq(ind).addClass('cur').siblings('a').removeClass('cur');
                }
            };
            tabs.init();
    
    
            /* 弹出框 */
            function show_box1() {
                $.dialog({
                    title: '请输入手机号',
                    content: $("#tpl_entry1").html(),
                    onOpenBefore: function () {
                        initWinCss(500,'auto');
                    },
                    onOpen: function () {
                        console.log($("#entry-form"));
                        $.validator.addMethod( "isPhone",function(value,element){
                            var reg = /^1[34578]\d{9}$/;
                            return reg.test(value);
                        } , "请输入合法手机号");
                        $("#entry-form").validate({
                            submitHandler: function (form) {
                                var param = $(form).serialize();
                                console.log(param);
                                return false;
                            },
                            rules:{
                                username: {required: true},
                                phone: {
                                    required:true,
                                    isPhone: true
                                }
                            },
                            messages:{
                                username: {required:"请输入姓名"},
                                phone: {
                                    required: "请输入手机号"
                                }
                            }
                        });
                    }
                });
            }
            function show_box2() {
                $.dialog({
                    title: '活动报名',
                    content: $("#tpl_entry2").html(),
                    onOpenBefore: function () {
                        initWinCss(500,'auto');
                    }
                });
            }
            function  show_box3() {
                $.dialog({
                    title: '活动报名',
                    content: $("#tpl_entry3").html(),
                    onOpenBefore: function () {
                        initWinCss(500,'auto');
                    }
                });
            }
            
            $(".btn-join").on('click',function () {
                show_box2();
            });
        });
    </script> -->
</body>
</html>